@charset "UTF-8";

@import './mixin';

/* breakpointer */
// @include breakpointer($selector: '#shopping') {
// 	@include breakpointerStyle();
// }

/* grid */
#main_container {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(12, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;

	#cart {
		grid-area: 1 / 1 / 13 / 4;
	}

	#shopping {
		grid-area: 1 / 4 / 13 / 13;
	}

	@include breakpoint(max, 1030px) {
		#cart {
			grid-area: 1 / 1 / 6 / 13;
		}
		#shopping {
			grid-area: 6 / 1 / 13 / 13;
		}
	}

	@include breakpoint(between, 1028px 1920px) {
		#cart {
			min-width: 276px;
		}
	}
}

/* flex */
@mixin plant-list-layout() {
	@include breakpoint(max, 1187px) {
		.plant-list {
			@include columnize(2, 30px, false);
		}
	}

	@include breakpoint(max, 755px) {
		.plant-list {
			@include columnize(1, 25px, false);
			max-width: 320px;
			min-width: 196px;
		}
	}
}
