@charset "UTF-8";

@import './mixin';

/* breakpointer */
// @include breakpointer($selector: '#shopping') {
// 	@include breakpointerStyle();
// }

/* flex */
#shopping {
	.body {
		@include position-flex-center();

		.plant-list {
			.plant-item {
				@include position-flex-center();
			}
		}
	}
}

@mixin plant-list-layout() {
	.plant-list {
		@include columnize(3, 50px, false);
	}

	@include breakpoint(max, 1187px) {
		.plant-list {
			@include columnize(2, 30px, false);
		}
	}

	@include breakpoint(max, 755px) {
		.plant-list {
			@include columnize(1, 25px, false);
			max-width: 320px;
			min-width: 196px;
		}
	}
}

/* sizing */
#shopping {
	min-width: 267px;
}

#cart {
	min-width: 267px;
}

@include breakpoint(max, 1199px) {
	#cart {
		max-width: 300px;
	}
}
