@charset "UTF-8";

@import 'sass-eo-basics';

// variables (colors)
$green-sea: #16a085;
$bg-color: __color-pastel(
	$colors:
		__color-complement(
			$colors: green,
		),
);

// mixin template
@mixin box-template($width) {
	@include box-sizing($value: only);
	@include sizer($width: $width, $height: auto);
	@include spacing-all-gabarit($gabarit: small);
	@include box-radius('all', 10px);
	@include effect-box-shadow($opacity: solid);
	background-color: $bg-color;
}

// global style
#jungle_container {
	ul {
		list-style: none;
	}

	.title {
		text-align: center;
	}
}

// component style
#banner {
	#official-logo {
		@include image-logo(
			$image-url: '../../../assets/images/jungle-logo.png',
			$width: 100px,
			$height: 100px
		);
	}

	#title {
		@include effect-text-stroke(
			$colors: #444,
			$stroke-color: #333,
			$fallback-color: #333,
			$stroke-width: thin
		);
		font-weight: bolder;
	}

	#description {
		color: #888;
	}

	@include spacing-padding-gabarit($gabarit: medium);
	text-align: right;
	border-bottom: #555 10px solid;
	background-color: $bg-color;
}

#cart {
	@include box-template(auto);
	min-width: 200px;
	span {
		color: $green-sea;
	}
}

#shopping {
	@include box-template(auto);
}
