@charset "UTF-8";

@import 'sass-eo-basics';

$green-sea: #16a085;
$bg-color: __color-pastel(
	$colors:
		__color-complement(
			$colors: green,
		),
);

#banner {
	#official-logo {
		@include image-logo(
			$image-url: '../../../assets/images/jungle-logo.png',
			$width: 100px,
			$height: 100px
		);
	}

	#title {
		@include effect-text-stroke(
			$colors: #444,
			$stroke-color: #333,
			$fallback-color: #333,
			$stroke-width: thin
		);
		font-weight: bolder;
	}

	#description {
		color: #888;
	}

	@include spacing-padding-gabarit($gabarit: medium);
	text-align: right;
	border-bottom: #555 10px solid;
	background-color: $bg-color;
}

#cart {
	@include box-sizing($value: only);
	@include sizer($width: 200px, $height: auto);
	@include spacing-all-gabarit($gabarit: small);
	@include box-radius('all', 10px);
	@include effect-box-shadow($opacity: solid);
	background-color: $bg-color;

	span {
		color: $green-sea;
	}
}
