@charset "UTF-8";

@import 'sass-eo-basics';
@import '../../imports/button';

/* global */
body {
	background-color: #eee;
}

/* custom */
#sample-form {
	background-color: #777;
	color: #eee;
	max-width: 600px; // responsive width
	height: auto; // responsive height
	@include box-radius(all, 10px);
	@include spacing-all-gabarit($gabarit: medium);
	@include effect-box-shadow($opacity: medium);

	h5 {
		background-color: rgba(238, 238, 238, 0.288);
		text-align: center;
		@include spacing-margin-gabarit($gabarit: xx-small);
		@include spacing-padding-gabarit($gabarit: medium);
		@include effect-box-shadow-inset($opacity: medium);
		@include box-radius(all, 10px);
	}

	button {
		@include spacing-margin-gabarit($gabarit: smaller);
	}

	input {
		@include spacing-all-gabarit($gabarit: small);
		@include input-style-scale(
			$bg-color: #eee,
			$border-color: #eee,
			$text-color: #444
		);
	}
}

/* layout */
body {
	display: flex;
	justify-content: center;
	align-items: center;
}

#sample-form {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

/* animation */
#sample-form {
	transition: 0.5s;

	&:hover {
		cursor: pointer;
		@include animation-scale($scaleValue: 1.01);
		@include effect-box-shadow($opacity: smooth);
	}
}
