@charset "UTF-8";

@import 'sass-eo-basics';

body {
	background: #eee;
}

/* color */
$sun-flower: #f1c40f;

/* global */
h1 {
	text-align: center;
	font-size: 60px;
	@include effect-text-stroke(
		$colors: transparent,
		$stroke-color: #333,
		$fallback-color: #333,
		$stroke-width: thin
	);
}

#user-list {
	list-style: none;
	color: #eee;

	.user-item {
		background-color: #555;
		min-width: 300px;
		@include spacing-all-gabarit($gabarit: medium);
		@include box-radius(all, 10px);
		@include effect-box-shadow($opacity: medium);

		strong {
			color: $sun-flower;
		}

		.stack-item {
			@include spacing-padding-gabarit($gabarit: x-small);
			@include spacing-margin-gabarit($gabarit: xx-small);
			@include box-radius(all, 100px);
		}
	}
}

/* layout */
#user-list {
	// @include columnize(3, 0px, false);
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

/* animation */
#user-list {
	.user-item {
		transition: 0.5s;

		&:hover {
			cursor: pointer;
			@include animation-scale($scaleValue: 1.05);
			@include effect-box-shadow($opacity: smooth);
		}
	}
}
