@charset "UTF-8";

@include loadify(init);

#header_container {
	#banner {
		#official-logo {
			@include animation-rotateY(20s);
		}

		p {
			@include loadify(0.2s);
		}
	}

	#notification {
		@include animation-flash();
		animation-delay: 2s;
	}
}

#main_container {
	#shopping {
		@include loadify(0.5s);
	}

	.plant-item {
		@include loadify(0.5s);
		transition: 0.5s;

		&:hover {
			@include animation-scale($scaleValue: 1.03);
		}
	}

	#cart {
		@include animation-slide($in-out: in, $direction: left);
		animation-delay: 1s;
	}
}
