@charset "UTF-8";

@import './mixin';

/* breakpointer */
// @include breakpointer($selector: '#shopping') {
// 	@include breakpointerStyle();
// }

/*----- Flexbox -----*/
#header_container {
	@include breakpoint(max, 368px) {
		#notification {
			font-size: 13px;
		}
	}

	@include breakpoint(max, 286px) {
		#notification {
			font-size: 10px;
		}
	}
}

#shopping {
	#categories {
		.categories-list {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-wrap: wrap;
			flex-direction: column;
		}
	}

	.body {
		@include position-flex-center();

		.plant-list {
			.plant-item {
				@include position-flex-center();
				flex-direction: column;

				.plant-name {
					@include position-flex-center();
				}
			}
		}
	}
}

@mixin plant-list-layout() {
	.plant-list {
		@include columnize(3, 50px, false);
	}

	@include breakpoint(max, 1187px) {
		.plant-list {
			@include columnize(2, 30px, false);
		}
	}

	@include breakpoint(max, 755px) {
		.plant-list {
			@include columnize(1, 25px, false);
			max-width: 320px;
			min-width: 196px;
		}
	}
}

/*----- Sizing -----*/
#shopping {
	min-width: 267px;

	@include breakpoint(max, 1187px) {
		.plant-list {
			max-width: 600px;
		}
	}
}

#cart {
	min-width: 267px;
}

@include breakpoint(max, 1199px) {
	#cart {
		max-width: 300px;
	}
}
